.content {
    display: none;
    list-style-type: none;
}

.hamburger {
    width: 10%;
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main-nav:hover ul{
    display: block;
}

@media only screen and (min-width: 640px) {
    .heading-group-h1 {
        width: 100%;
    }
    .hamburger {
        display: none;
    }
    .content {
        display: block;
        width: 100%;
    }
    .content li {
        display: inline-block;
        float: none;
    }
}
